body {
	margin:0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
}
.top {
	width: 80%;
	margin: 0 auto;
	height: 0px;
}
header {background: #ff9933;}
header::after {
	content: '';
	display: table;
	clear: both;
}
.logo {
	float: left;
	padding: 10px 0;
}
nav{
	float: right;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
nav li {
	display: inline-block;
	margin-left: 70px;
	padding-top: 35px;
	position: relative;
	margin-top: -15px;
}
nav a{
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
}
header nav a {
	font-size: 20px;
}
nav a:hover {
	color: #000;
}
nav a::after {
	content: '';
	display: block;
	height: 5px;
	width: 100%;
	background: #444;
	position: absolute;
	top: 70px;
	width: 0%;
	transition: all ease-in-out 250ms;
}
nav a:hover::after {
	width: 100%;
}





.first_container {
	margin: 0 auto;
	font-size: 24px;
	padding: 0;
	width: 100%;
	position: relative;
	text-align: center;
}
.parallax {
    background: url('ffp.jpg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height: 532px;
	margin: -67px 0;
}

#vuelomiles {
	font-size: 100px;
	color: #ff9933;
	padding: 100px;
	font-family: 'Didact Gothi';
	text-transform: uppercase;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}




.text {	color: #ff9933; text-transform: uppercase;}
.text h1 {font-size: 50px;}




.bottom {
	width: 80%;
	margin: 0 auto;
}
footer {
	height: 70px;
	width: 100%;
	background: #ff9933;
}
footer::after {
	content: '';
	display: table;
	clear: both;
}
.bottom_list {
	margin: -10px 120px;
}